<div class="entity col">
	<h2 class="entity__title">RxJS Library</h2>

	<mat-form-field floatLabel="auto">
		<mat-label>Subject Alfa</mat-label>
		<input matInput [ngModel]="alfa$.getValue()" (ngModelChange)="alfa$.next(+$event)">
	</mat-form-field>

	<mat-form-field floatLabel="auto">
		<mat-label>Subject Beta</mat-label>
		<input matInput [ngModel]="beta$.getValue()[1]" (ngModelChange)="beta$.next([0, +$event, 0])">
	</mat-form-field>

	<app-equations type="Subject" [alfa]="alfa$.getValue()" [beta]="beta$.getValue()" [sum]="(sum$ | async)" (log)="logSubjects()"></app-equations>
</div>
