<div class="container">
	<h2>Equation: Ⲁ + β = Σ </h2>

	<div class="comparison">
		<!-- variables  -->
		<app-variables></app-variables>

		<!-- RxJS  -->
		<app-rxjs></app-rxjs>

		<!-- Signals -->
		<app-signals></app-signals>
	</div>
</div>

