<div class="container">

	<div class="cd">
		<h1>Change Detection In Angular</h1>
		<img src="../../assets/img/zone0.png" alt="">
		<img src="../../assets/img/zone1.png" alt="">
		<img src="../../assets/img/zone2.png" alt="">

		<img src="https://mokkapps.twic.pics/mokkapps.de/blog/the-last-guide-for-angular-change-detection-you-will-ever-need/cd-on-push-cycle_te8dai.gif"
			alt="Angular OnPush Change Detection Cycle" loading="lazy" class="mb-50">

		<img src="https://mokkapps.twic.pics/mokkapps.de/blog/the-last-guide-for-angular-change-detection-you-will-ever-need/cd-cycle_wfdcsk.gif"
			alt="Angular Change Detection Cycle" loading="lazy" class="mb-50">
	</div>

	<div class="entity entity--parent">
		<h2 class="entity__title"> Parent Componenent </h2>

		<div class="row row--sp-a row--top">
			<!-- component variables  -->
			<div class="col col--left">
				<h3>Component Variables:</h3>
				<div class="row row--left">
					<h3>Primitiv: Ⲁ =&nbsp;</h3>
					<mat-form-field floatLabel="auto" color="accent">
						<input matInput [(ngModel)]="alfa">
					</mat-form-field>
				</div>

				<div class="row row--left">
					<h3>Reference: β = [ {{ betaArr.join(', ')}} ], where  Array member β[1] =&nbsp;</h3>
					<mat-form-field floatLabel="auto" color="accent">
						<input matInput [ngModel]="betaArr[1]" (ngModelChange)="onBetaChanged($event)">
					</mat-form-field>
				</div>
			</div>

			<!-- injected variables  -->
			<div class="col col--left">
				<h3>Injected service APIs: </h3>

				<div class="row">
					<button mat-raised-button (click)="appService.toggleFlag()">Increment count</button>
					<button class="ml-30" mat-raised-button (click)="appService.pushNewDelta(16)">Add value</button>
					<button class="ml-30" mat-raised-button (click)="appService.shiftDelatArr()">Shift Arr</button>
				</div>
			</div>
		</div>


		<div class="comparison">
			<!-- default  -->
			<app-default [alfa]="alfa" [betaArr]="betaArr" title="Child Component 1"></app-default>

			<!-- on push  -->
			<app-on-push [alfa]="alfa" [betaArr]="betaArr" title="Child Component 2"></app-on-push>
		</div>


		<!-- <img src="https://mokkapps.twic.pics/mokkapps.de/blog/the-last-guide-for-angular-change-detection-you-will-ever-need/change-detector-ref_j3gyml.jpg"
			onerror="this.setAttribute('data-error', 1)" alt="ChangeDetectorRef methods" loading="lazy" data-nuxt-img=""
			class="mb-50">


		<img src="https://mokkapps.twic.pics/mokkapps.de/blog/the-last-guide-for-angular-change-detection-you-will-ever-need/lifecycle-hooks_anj3x2.jpg"
			onerror="this.setAttribute('data-error', 1)" alt="Angular Lifecycle Hooks" loading="lazy" data-nuxt-img=""
			class="mb-50"> -->

	</div>
</div>
