.cd {
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	column-gap: 20px;
	row-gap: 20px;
	justify-items: center;
	align-items: center;
	margin: 30px auto;
}

.comparison {
	width: 100%;
	display: grid;
	grid-template-columns: 49% 49%;
	column-gap: 2%;
}


mat-form-field {
	max-width: 70px;


	.mat-mdc-text-field-wrapper {
		height: 30px;
		flex: auto;
	}


	.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
}


img {
	width: 900px;
}
