
<ng-container *ngIf="this.alertService.alert() as alerts">
	<div *ngIf="alerts().length > 0" [class]="'messages messages--' + this.alertService.alertType">
		<div class="messages__item" *ngFor="let alert of alerts()"> {{ alert}} </div>
		<i class="fa-solid fa-xmark" (click)="close()"></i>
	</div>
</ng-container>
