.messages {
    display: flex;
    align-items: center;
    height: 15px;
    padding: 10px;
    position: fixed;
    top: 70px;
    left: 50%;
	transform: translate(-50%, 0);
    z-index: 1001;
    border-radius: 4px;

	&__item {
		font-size: 1.2em;
	}

	* {
		color: white;
	}

	&--danger {
		background-color: rgb(255, 25, 25);
	}

	&--warning {
		background-color: rgb(181, 120, 16);
	}

	&--info {
		background-color: rgb(45, 113, 232);
	}

	&--success {
		background-color: rgb(39, 180, 70);
	}
}

.fa-xmark {
	position: absolute;
	right: 10px;
	top: 5px;
	cursor: pointer;
	margin-left: 10px;
}
