<div class="entity col">
	<h2 class="entity__title">Signals</h2>

	<mat-form-field floatLabel="auto">
		<mat-label>Signal Alfa</mat-label>
		<input matInput [ngModel]="sAlfa()" (ngModelChange)="sAlfa.set(+$event)">
	</mat-form-field>

	<mat-form-field floatLabel="auto">
		<mat-label>Signal Beta</mat-label>
		<input matInput [ngModel]="sBeta()[1]" (ngModelChange)="sBeta.set([sBeta()[0], +$event, sBeta()[2]])">
	</mat-form-field>

	<app-equations type="Signal" [alfa]="sAlfa()" [beta]="sBeta()" [sum]="sSum()" (log)="logSignals()"></app-equations>
</div>
