<div class="entity col">
	<h2 *ngIf="title" class="entity__title">{{ title }}</h2>
	<h3 class="mb-50">ChangeDetectionStrategy.Default</h3>


	<div class="row mb-20">
		<button mat-raised-button (click)="accordion.closeAll()">Collapse All</button>
		<button  class="ml-30" mat-raised-button (click)="accordion.openAll()" color="primary">Expand All</button>
	</div>

	<mat-accordion class="example-headers-align" multi>
		<!-- inputs  -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>Input Variables</mat-panel-title>
				<mat-panel-description> Variables Passed as Input </mat-panel-description>
			</mat-expansion-panel-header>
			<div class="row row--sp-b">
				<div>
					<h3>Primitive : Ⲁ = {{ alfa }}</h3>
					<h3>Reference : β = [ {{ betaArr.join(', ')}} ]</h3>
				</div>

				<!-- print on the console button -->
				<button class="ml-30" mat-raised-button (click)="log('inp')">Log Values</button>
			</div>
		</mat-expansion-panel>

		<!-- injections  -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>Injected Variables</mat-panel-title>
				<mat-panel-description>Variables injected with a services</mat-panel-description>
			</mat-expansion-panel-header>

			<div class="row row--sp-b">
				<div>
					<h3>Primitive: count = {{ appService.count }}</h3>
					<h3>Reference: Δ = [ {{ appService.deltaArr.join(', ')}} ]</h3>
				</div>

				<!-- print on the console button -->
				<button class="ml-30" mat-raised-button (click)="log('inj')">Log Values</button>
			</div>
		</mat-expansion-panel>

		<!-- subscriptions  -->
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>Injected Observables</mat-panel-title>
				<mat-panel-description>Observables injected and subsribed</mat-panel-description>
			</mat-expansion-panel-header>
			<h3>Subscribed observable: Δ$ = {{ appService.deltaArr$ | async }}</h3>
		</mat-expansion-panel>

	</mat-accordion>
</div>
