.app {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;

	&__header {
		height: 70px;
	}

	&__main {
		max-height: calc(100vh - 80px);
		overflow-y: scroll;
	}

	&__footer {
		margin-top: auto;
		height: 20;
		display: flex;
	}
}
