<div class="app">

  <app-header class="app__header"></app-header>
  <app-alerts></app-alerts>

  <div class="app__main">
    <router-outlet></router-outlet>
  </div>

  <app-footer class="app__footer"></app-footer>

</div>
