<div class="entity col">
	<h2 class="entity__title">Variables</h2>

	<mat-form-field floatLabel="auto">
		<mat-label>Variable Alfa</mat-label>
		<input matInput [ngModel]="alfa" (ngModelChange)="onAlfaInput($event)">
	</mat-form-field>

	<mat-form-field floatLabel="auto">
		<mat-label>Variable Beta</mat-label>
		<input matInput [ngModel]="beta[1]" (ngModelChange)="beta[1] = +$event">
	</mat-form-field>

	<app-equations type="Variable" [alfa]="alfa" [beta]="beta" [sum]="getSum()" (log)="logVariables()"></app-equations>
</div>
