<mat-toolbar color="primary">
	<div class="container">
		<div class="row">
			<a [routerLink]="['/']">
				<span>PresApp</span>
			</a>

			<a [routerLink]="['/signals']" class="btn ml-a">
				🚦<span class="ml-5">Signals Concept</span>
			</a>

			<a [routerLink]="['/chnage-detection']" class="btn ml-30">
				🛡️<span class="ml-5">Change Detection</span>
			</a>

			<a [routerLink]="['/compare']" class="btn ml-30">
				⚖️<span class="ml-5">Comparison</span>
			</a>
		</div>
	</div>
</mat-toolbar>
