mat-tab-group {
	width: 100%;
}

.graph {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	column-gap: auto;
}

.sig {
	width: 95%;
	margin: 20px auto;
	display: grid;
	align-items: start;
	justify-items: stretch;
	grid-template-columns: 50% 50%;
	grid-template-rows: 350px 550px 330px 700px;
	grid-template-areas:
		"concept concept"
		"primitives primitives"
		"graph example"
		"graph graph-effect";

	&__concept {
		grid-area: concept;

	}

	&__primitives {
		grid-area: primitives;
	}

	&__example {
		grid-area: example;
	}

	&__graph {
		justify-self: start;
		grid-area: graph;
	}

	&__graph-effect {
		justify-self: end;
		grid-area: graph-effect;
	}
}

.img {
	width: 700px;
}
