<div class="sig container">

	<div class="sig__concept row row--sp-b">
		<div class="row">
			<h1>Signals in Angular</h1>
		</div>
		<div class="row row--right">
			<img class="img" mat-card-xl-image src="../../assets/img/concept.png">
		</div>
	</div>

	<div class="sig__primitives col col--top">
		<h2>Signals primitives</h2>
		<mat-tab-group animationDuration="0ms">
			<mat-tab label="Signal">
				<div class="row row--sp-b row--top">
					<img  mat-card-xl-image src="../../assets/img/signal1.png">
					<img class="ml-30" mat-card-xl-image src="../../assets/img/signal2.png">
				</div>
			</mat-tab>
			<mat-tab label="Computed">
				<div class="row">
					<img mat-card-xl-image src="../../assets/img/computed.png">
				</div>
			</mat-tab>

			<mat-tab label="Effect">
				<div class="row">
					<img mat-card-xl-image src="../../assets/img/effect.png">
				</div>
			</mat-tab>
		</mat-tab-group>
	</div>


	<div class="sig__example col">
		<h2>Signals example</h2>

		<div class="col">
			<div class="col col--left ml-30">
				<span class="signal-holder">Staff list:
					<span class="signal" [ngClass]="{'blinker': staffFlag}">{{ staffSignal() | json }}</span>
				</span>

				<span class="signal-holder">Staff count:
					<span class="signal" [ngClass]="{'blinker': staffFlag}">{{ staffCountSingnal() | json }}</span>
				</span>

				<span class="signal-holder">Staff under 35 years:
					<span class="signal" [ngClass]="{'blinker': staffUnderFlag}">{{ staffUnder35Computed() | json}}</span>
				</span>

				<span class="signal-holder">Staff count under 35 years:
					<span class="signal" [ngClass]="{'blinker': staffUnderFlag}">{{ staffUnder35CountComputed() | json}}</span>
				</span>
			</div>

			<div class="row row--sp-a mb-30">
				<button mat-raised-button color="primary" (click)="setSignals()">Init List</button>
				<button mat-raised-button color="primary" (click)="updateSignals()">Add Member</button>
			</div>
		</div>

	</div>

	<div class="sig__graph col">
		<h2>Signals graph</h2>
		<img class="img" mat-card-xl-image src="../../assets/img/graph1.png">
	</div>

	<div class="sig__graph-effect col">
		<h2>Signals graph with effects</h2>
		<img class="img" mat-card-xl-image src="../../assets/img/graph2.png">
	</div>

</div>
