/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "assets/generic-normalize";

$pri: #c2185b;
$sec: #EEE7E0;
$ther: #FFFFFF;
$acc: #424242;

html,
body {
	height: 100%;
	background-color: $sec;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

// ****************************
// containers               ***
// ****************************
.row {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;

	&--sp-a {
		justify-content: space-around;
	}

	&--sp-b {
		justify-content: space-between;
	}

	&--left {
		justify-content: flex-start;
	}

	&--right {
		justify-content: flex-end;
	}

	&--top {
		align-items: flex-start;
	}

	&--bottom {
		align-items: flex-end;
	}
}

.col {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	&--sp-a {
		justify-content: space-around;
	}

	&--sp-b {
		justify-content: space-between;
	}

	&--left {
		align-items: flex-start;
	}

	&--right {
		align-items: flex-end;
	}

	&--top {
		justify-content: flex-start;
	}

	&--bottom {
		justify-content: flex-end;
	}
}

.container {
	width: 90%;
	max-width: 1800px;
	margin: 10px auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

// ****************************
// elements             ***
// ****************************

h1 {
	font-size: 3em !important;
}

h2 {
	font-size: 2em !important;
}

h3 {
	font-size: 1.5em !important;
}


.btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	border-radius: 10px;
	border: 1px solid $acc;
	overflow: hidden;
}

button {
	min-width: 150px !important;
}

// ****************************
// margins and paddings     ***
// ****************************

.ml-a {
	margin-left: auto;
}

.ml-5 {
	margin-left: 5px;
}

.ml-30 {
	margin-left: 30px;
}

.mr-5 {
	margin-right: 5px;
}

.mb-a {
	margin-bottom: auto;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 50px;
}

.mb-50 {
	margin-bottom: 50px;
}

// ****************************
// mat-form-field           ***
// ****************************
mat-form-field.mat-form-field-disabled {
	.mat-mdc-text-field-wrapper {
		padding: 0 !important;
		background-color: #cbced1 !important;
		overflow: visible;

		.mat-mdc-form-field-focus-overlay {
			display: none !important;
		}

		.mat-mdc-form-field-flex {
			margin-top: 2px;

			.mat-mdc-form-field-infix {
				padding: 12px 0 0 0 !important;
				min-height: 27.5px !important;

				label {
					&.mat-mdc-floating-label {
						top: 20px !important;
					}

					&.mdc-floating-label--float-above {
						top: 20px !important;
						left: 10px !important;
						z-index: 99 !important;

						mat-label {
							// font-size: 12px !important;
						}
					}

					mat-label {
						color: $acc !important;
					}

					.mat-mdc-form-field-required-marker {
					}
				}

				input {
					border: none !important;
					color: $pri !important;
					text-align: center;
					padding-left: 5px;
					width: 95%;

					&.ng-invalid {
						color: rgb(255, 25, 25) !important;
					}
				}

				mat-autocomplete {
				}
			}

			.mat-mdc-form-field-icon-suffix {
				padding: 12px 0 0 4px;
			}
		}

		.mdc-line-ripple {
		}
	}

	.mat-mdc-form-field-subscript-wrapper {
		display: none;
		.mat-mdc-form-field-hint-wrapper {
			.mat-mdc-form-field-hint-spacer {
			}
		}
	}
}

// ****************************
// mat-accordion           ***
// ****************************
mat-accordion {
	min-width: 70%;

	.mat-expansion-panel {
		background-color: $pri;
		color: $acc;
	}

	.mat-expansion-panel-body {
		background-color: $ther;
	}
}

// ****************************
// mat-tab-group           ***
// ****************************
mat-tab-group {
	.mat-mdc-tab {
		background-color: $ther;

		.mdc-tab__text-label {
			color: $pri !important;
			font-size: 1.2em !important;
			font-weight: 700 !important;
			text-transform: uppercase;
		}
	}

	.mdc-tab--active {
		background-color: $pri;

		.mdc-tab__text-label {
			color: $ther !important;
		}
	}

	.mat-mdc-tab-body-content {
		background-color: $ther;
		min-height: 350px;
		padding: 20px;
	}


}

// ****************************
// components             ***
// ****************************

.entity {
	width: 100%;
	height: fit-content;
	padding: 30px 20px 10px;
	border: 5px dashed $pri;
	border-radius: 5px;
	position: relative;
	margin: 20px 10px 10px 10px;

	&__title {
		color: $sec;
		padding: 5px 10px;
		border-radius: 5px;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		background: $pri;
		text-transform: capitalize;
	}
}

.entity--parent {
	border: 5px dashed $acc;

	& > .entity__title {
		background: $acc;
	}
}

.signal-holder {
	margin-bottom: 20px;
}

.signal {
	padding: 5px;
	border: 2px solid $pri;
	border-radius: 4px;
}

// ****************************
// animatioins           ***
// ****************************

.blinker {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
		background: $pri;
		color: $sec;
		font-weight: 800;
	}
}
