
@import '../../../styles.scss';

:host {
	width: 100%;
	padding: 5px;
	border: 3px dotted $acc;


	.equation {
		display: grid;
		grid-template-columns: 105px 10px 105px 10px 105px;
		column-gap: 5px;
		align-items: center;
		padding: 10px 0;
	}
}

