<div class="col">

	<h3>Equation: Ⲁ + β[1] = Σ </h3>
	<div class="equation mb-50">

		<!-- alfa  -->
		<mat-form-field floatLabel="auto">
			<mat-label>{{type}} Alfa</mat-label>
			<input matInput [ngModel]="alfa" disabled>
		</mat-form-field>

		<span> + </span>

		<!-- beta -->
		<mat-form-field floatLabel="auto">
			<mat-label>{{type}} Beta</mat-label>
			<input matInput [ngModel]="beta[1]" (ngModelChange)="beta[1] = +$event">
		</mat-form-field>

		<span> = </span>

		<!-- sum  -->
		<mat-form-field floatLabel="auto">

			<mat-label>
				<ng-container [ngSwitch]="type">
					<ng-container *ngSwitchCase="'Variable'">Function</ng-container>
					<ng-container *ngSwitchCase="'Subject'">Observable</ng-container>
					<ng-container *ngSwitchCase="'Signal'">Computed</ng-container>
				</ng-container> Sum
			</mat-label>

			<input matInput [ngModel]="sum" disabled>
		</mat-form-field>
	</div>

	<!-- print on the console button -->
	<button mat-raised-button color="primary" (click)="log.emit()">Log Values</button>
</div>
